.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px 0;
  box-sizing: border-box;
}

.profile {
  width: 100%;
  max-width: var(--max-width-content);
  border: 1px solid var(--border-tertiary-color);
  border-radius: 8px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 16px;
  background-color: var(--bg-secondary-color);
  position: relative;
}

.header {
  width: 100%;
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--border-tertiary-color);
}

.container {
  display: flex;
  gap: 32px;
}

.avatar {
  --size: 100px;
  min-width: var(--size);
  min-height: var(--size);
  width: var(--size);
  height: var(--size);
  margin-bottom: 16px;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.owner .avatar {
  padding: 0;
  border: 2px solid var(--accent-color);
}

.avatar__img {
  --size: 4px;
  width: calc(100% - var(--size));
  height: calc(100% - var(--size));
  object-fit: cover;
  border-radius: 50%;
}

.age {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.form__row {
  width: 100%;
  display: flex;
  gap: 24px;
}

.fields {
  width: 100%;
  max-width: 256px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field {
  width: 100%;
  max-width: 256px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.field_type_textarea {
  max-width: none;

  & .field__input {
    min-height: 32px;
    padding: 4px 8px;
    resize: vertical;

    &:read-only {
      resize: none;
    }
  }
}

.field__input {
  --border-current-color: var(--border-main-color);

  width: 100%;
  box-sizing: border-box;
  height: 32px;
  border: none;
  border-bottom: 0.5px solid var(--border-current-color);
  padding: 0 4px;
  outline: none;

  &.field__input_valid_invalid {
    --border-current-color: var(--accent-color);
  }

  &:read-only {
    --border-current-color: var(--border-main-light-color);
    cursor: default;
    border-radius: 0;
    resize: none;
  }

  .edit &:focus {
    --border-current-color: var(--border-secondary-color);
  }
}

.error {
  min-height: 12px;
  padding: 0 0 0 4px;
}

.buttons {
  margin: 17px 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons_place_form {
  display: flex;
}

.buttons_place_footer {
  margin: 0;
  display: none;
  justify-content: space-evenly;
}

.button {
  padding: 4px 8px;
  background-color: var(--bg-main-dark-color);
  color: var(--fg-main-light-color);
  border-radius: 4px;
  min-width: 60.5px;
}

.footer {
  /* 
  padding-top: 16px;
  border-top: 1px solid var(--border-tertiary-color);
  */
  width: 100%;
  display: flex;
  gap: 16px;
}

.infos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px 8px;
}

.info {
  width: 100%;
  max-width: 256px;
  padding: 4px 8px;
  text-align: center;
  border: 1px solid var(--border-tertiary-color);
  border-radius: 100px;
}

.info_border_accent {
  border: 1px solid var(--border-accent-color);
}

@media screen and (max-width: 768px) {
  .buttons_place_form {
    display: none;
  }
  .buttons_place_footer {
    display: flex;
  }
  .avatar {
    --size: 96px;
  }
}

@media screen and (max-width: 440px) {
  .main {
    padding: 0;
  }
  .profile {
    border: none;
    border-radius: 0;
  }
  .field {
    gap: 0;
  }
  .footer {
    flex-direction: column;
  }
  .info {
    max-width: none;
  }
}
