.main {
  width: var(--width-menubar);
  background-color: var(--bg-tertiary-color);
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-right: 1px solid var(--border-tertiary-color);
  position: fixed;
  z-index: 1;
  left: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 36px;
  height: 36px;
}

.navigation {
  display: flex;
  flex-direction: column;
  position: relative;
}

.line {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: var(--width-border-active-page);
  height: 48px;
  border-top-right-radius: var(--width-border-active-page);
  border-bottom-right-radius: var(--width-border-active-page);
  background-color: var(--accent-color);
  transition: top 0.3s linear;
}

.item {
  width: var(--width-menubar);
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item_type_logo {
  margin-bottom: 8px;
}

.item_type_logo::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 48px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--border-tertiary-color);
}

@media screen and (max-width: 440px) {
  .main {
    width: 100%;
    height: var(--width-menubar);
    flex-direction: row;
    border-right: 0;
    border-bottom: 1px solid var(--border-tertiary-color);
    top: 0;
    backdrop-filter: blur(5px); /* like glass */
    background-color: rgba(255, 255, 255, 0.5);
  }
  .item_type_logo {
    margin-bottom: 0;
  }
  .item_type_logo::after {
    right: 0;
    bottom: 8px;
    width: 2px;
    height: 48px;
  }
  .navigation {
    flex-direction: row;
  }
  .line {
    transition: left 0.3s linear;
    height: var(--width-border-active-page);
    width: 48px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    border-bottom-left-radius: var(--width-border-active-page);
    border-bottom-right-radius: var(--width-border-active-page);
  }
  .container {
    flex-direction: row;
  }
}
