.main {
  width: var(--width-menubar);
  background-color: var(--bg-tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-right: 1px solid var(--border-tertiary-color);
}

.container {
  padding: 6px;
  margin: 8px 8px 0;

  border-bottom: 1px solid var(--border-tertiary-color);
}

.logo {
  width: 36px;
  height: 36px;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.item {
  width: var(--width-menubar);
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item_type_logo {
  margin-bottom: 8px;
}

.item_type_logo::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 48px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--border-tertiary-color);
}

.link_type_current::after {
  content: '';
  position: absolute;
  left: 0;
  width: var(--width-border-active-page);
  height: 48px;
  border-top-right-radius: var(--width-border-active-page);
  border-bottom-right-radius: var(--width-border-active-page);
  background-color: var(--accent-color);
}
