.main {
    width: 640px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 0 auto;
    padding: 10px 20px;
    margin: 20px auto;
}

.top_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_container_left {
    display: flex;
    align-items: center;
}

.top_container img{
    object-fit: cover;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.top_container a {
    height: 24px;
}

.top_container h1{
    margin: 0 0 0 12px;
    font-size: 16px;
}

.top_container p{
    margin: 0;
}

.top_container_time {
    text-align: end;
    font-size: 10px;
}

.middle_container {
    min-height: 125px;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.080);
    border-bottom: 1px solid rgba(0, 0, 0, 0.080);
    margin: 10px 0;
    text-align: justify;
}

.bottom_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom_container button {
    padding: 0;
    background: none;
    border: 0px;
    height: 24px;
}

.bottom_container button:hover {
    cursor: pointer;
}

.bottom_container_left {
    display: flex;
    align-items: center;
}

.bottom_btn {
    margin-left: 15px;
}