@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* ? common styles */
@import url('./styles/typography.css');
@import url('./styles/button.css');
@import url('./styles/link.css');

#root {
  /* #efefef; */

  /* variables */
  /* ? color */
  --accent-color: #e24352;
  --accent-secondary-color: #504f8f;

  /* sizes: width, height */
  --size-menubar: 64px; /* width or height */
  --width-border-active-page: 3px; /* todo create a new name */

  /* ? max-width */
  --max-width-content: 640px;

  /* ? bg */
  --bg-main-color: #f5f5f5;
  --bg-main-dark-color: #0a100d;
  --bg-secondary-color: #fff;
  --bg-tertiary-color: #f2f3f5;

  /* ? fg */
  --fg-main-color: #0a100d;
  --fg-main-light-color: #f5f5f5;
  --fg-secondary-color: #8b8b8b;

  /* ? border */
  --border-main-color: #8b8b8b;
  --border-secondary-color: #0a100d;
  --border-tertiary-color: #d9d9d9;

  /* css rules */
  font-family: 'Inter';
  background-color: var(--bg-main-color);

  min-height: 100vh;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 440px) {
  #root {
    flex-direction: column;
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
}
