@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* ? common styles */
@import url('./styles/button.css');
@import url('./styles/typography.css');
@import url('./styles/link.css');

#root {
  /* variables */
  /* ? color */
  --accent-color: #e24352;
  --accent-secondary-color: #5e5ca8;

  --border-accent-color: var(--accent-color);

  /* sizes: width, height */
  --size-menubar: 64px; /* width or height */
  --width-border-active-page: 3px; /* todo create a new name */

  /* ? max-width */
  --max-width-content: 640px;

  /* css rules */
  font-family: 'Inter';
  background-color: var(--bg-main-color);

  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#root[data-theme='light'] {
  /* ? bg */
  --bg-main-color: #f5f5f5;
  --bg-main-dark-color: #0a100d;
  --bg-secondary-color: #fff;
  --bg-generic-color: #ebebeb;
  --bg-tertiary-color: #f2f3f5;
  --bg-glass-color: rgba(255, 255, 255, 0.5);

  /* ? fg */
  --fg-main-color: #0a100d;
  --fg-main-light-color: #f5f5f5;
  --fg-secondary-color: #8b8b8b;

  /* ? border */
  --border-main-color: #8b8b8b;
  --border-secondary-color: #0a100d;
  --border-tertiary-inside-color: #d9d9d9;
  --border-tertiary-outside-color: #d9d9d9;
}

#root[data-theme='dark'] {
  /* ? bg */
  --bg-main-color: #131313;
  --bg-main-dark-color: #090909;
  --bg-secondary-color: #222;
  --bg-generic-color: #131313;
  --bg-tertiary-color: #202020;
  --bg-glass-color: transparent;

  /* ? fg */
  --fg-main-color: #f9f9f9;
  --fg-main-light-color: #f5f5f5;
  --fg-secondary-color: #8b8b8b;

  /* ? border */
  --border-main-color: #f9f9f9;
  --border-secondary-color: #fdfdfd;
  --border-tertiary-inside-color: #8b8b8b;
  --border-tertiary-outside-color: #353535;
}

html[data-theme='light'] {
  background-color: #f5f5f5;
}

html[data-theme='dark'] {
  background-color: #131313;
}

@media screen and (max-width: 440px) {
  #root {
    flex-direction: column;
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
}
