.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 64px;
  color: var(--accent-color);
}

.logo {
  width: 140px;
}

.center_content {
  text-align: center;
  margin-bottom: 80px;
}

.center_content_404 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center_content_404 img {
  width: 128px;
  margin-bottom: 10px;
}

.center_content_404 p {
  font-size: 140px;
  margin: 0;
}
